body {
     background: #151719;
     color: #000;
     font-family: Arial, sans-serif;
     font-size: 14px;
	 background: #1b2631;
}

#header {
     background: white;
     width: 100%;
     height: 10px;
}
 
#container {
     background: #26252d;
     margin: auto auto;
     text-align: center;
     width: 80%;
     height: 400px;
}
 
#navigation {
     background: #26252d;
     width: 100%;
     height: 390px;
}

#content {
     background: #26252d;
     float: right;
     width: 100%;
     height: 500px;
}

.input{
	margin-left: 380px; 
	margin-top: -50px;
}

.double-border-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  width: 400px;
  height: 50px;
  margin-top: 40px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
}
.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 50px;
  margin-top: 40px;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.double-border-button:hover:after {
  border-color: #f1c40f;
  width: calc(400px - 10px);
  height: calc(50px + 10px);
}

#clear {
     clear: both;
}
 
#footer {
    background: #00BFFF;
	width: 100%;
	height: 40px;
}